<ion-header>
  <ion-toolbar>
    <ion-title>
      <a href="../tab4/tab4.page.html"> <img src='assets/img/oke2.png' width="1300px" height="300"> </a>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-list>
<ion-item>
    <ion-badge color="primary">DATA SAAT INI</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>BADMINTON</ion-label>
    <ion-badge color="primary">223 PESERTA</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>FOOTBALL</ion-label>
    <ion-badge color="secondary">1.233 PESERTA</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>VOLLY BALL</ion-label>
    <ion-badge color="tertiary">3.211 PESERTA</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>BASKET BALL</ion-label>
    <ion-badge color="success">200 PESERTA</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>SWIMMING</ion-label>
    <ion-badge color="warning">221 PESERTA</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>CATUR NASIONAL</ion-label>
    <ion-badge color="danger">5000 PESERTA</ion-badge>
  </ion-item>
</ion-list>